[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp.git
[submodule "deps/freetype"]
	path = deps/freetype
	url = https://github.com/freetype/freetype.git
[submodule "deps/emsdk"]
	path = deps/emsdk
	url = https://github.com/emscripten-core/emsdk.git
